body {
    background-color: #f2f2f2;
  }

  .container {
    width: 55%;
    margin: 0 auto;
    background-image: linear-gradient(to top left, #f074e6, #f2f293);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
  }

  .container h1 {
    text-align: center;
    margin-bottom: 0px;
  }

  .container form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: baseline;
    gap: 24px;
    margin: 10px 0px 0px 0px;
    padding: 50px 0px 50px 100px;
  }

  .in-grp {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  label {
    width: 150px;
  }

  input {
    width: 400px;
  }

  .container form input,
  .container form textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    min-width: 25px;
  }

  .container form select {
    height: 20px;
    width: 200px;
  }

  textarea {
    width: 400px;
  }

  .container form input[type="button"] {
    width: 100px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
  }

  .container form input[type="button"]:hover {
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #000;
  }

  .container form input[type="checkbox"] {
    height: 13px;
    width: 0px;
    margin: 0px;
    padding: 0px;
  }

  .container form input[type="checkbox"]:hover {
    cursor: pointer;
  }

  .container form input[type="checkbox"]:checked {
    background-color: #000;
    color: #fff;
  }

  .container form input[type="checkbox"]:checked:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }

  .container form input[type="checkbox"]:checked + label {
    background-color: #000;
    color: #fff;
  }

  .container form input[type="checkbox"]:checked + label:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }

  .check {
    display: flex;
    align-items: center;
  }
  label {
    font-weight: 900;
  }